{% extends "AppBundle:Admin:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block inner_content %}
    <h1>User Manager</h1>

       <blockquote class="twitter-tweet col-xs-12">



        {{ form_start(editUserForm) }}
        <div class="col-xs-12">
        <div class="col-xs-12">
            <label> Username </label> {{ user.username }}
        </div>
        <div class="col-xs-12">
            <label> Email </label> {{ user.email }}
        </div>
        <div class="col-xs-12">
            <label> Last login </label> {{ user.lastLogin | date}}
        </div>
            <div class="col-xs-12">
            {{ form_widget(editUserForm.roles, {'attr': {'class': 'form-control pull-left col-xs-10'}}) }}
            {{ form_errors(editUserForm.roles) }}
            </div>
            <div class="col-xs-12">
            {{ form_widget(editUserForm.enabled, {'attr': {'class': 'form-control pull-left col-xs-10'}}) }}
            {{ form_errors(editUserForm.enabled) }}
            </div>
            <div class="col-xs-12">
            {{ form_row(editUserForm.submit, {'attr': {'class': 'btn btn-primary pull-right col-xs-2'}}) }}
            </div>
        </div>

        {{ form_end(editUserForm) }}
       </blockquote>




</ul>
{% endblock %}
