<section class="signup-section">
    <div class="login">
        {{ form_start(form) }}
        <ul class="ul-list">
            <li>{{ form_widget(form.user.username,{'attr':{'class':'input', 'placeholder':'Username'}}) }}<span class="icon"><i class="fa fa-user"></i></span></li>
            <li>{{ form_widget(form.user.email,{'attr':{'class':'input', 'placeholder':'Email'}}) }}<span class="icon"><i class="fa fa-envelope"></i></span></li>
            <li>{{ form_widget(form.user.plainPassword.first,{'attr':{'class':'input', 'placeholder':'Password'}}) }}<span class="icon"><i class="fa fa-lock"></i></span></li>
            <li>{{ form_widget(form.user.plainPassword.second,{'attr':{'class':'input', 'placeholder':'Repeat password'}}) }}<span class="icon"><i class="fa fa-lock"></i></span></li>
            <li>{{ form_widget(form.terms) }}{{ form_label(form.terms) }}</li>
            <li>{{ form_widget(form.register, {'attr':{'class':'btn'}}) }} </li>
        </ul>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>


</section>