{% extends '::layout.html.twig' %}

{% block inner_content %}
    <h1>{{ 'twit.edit'|trans({}, 'messages') }}</h1>

    <blockquote class="twitter-tweet col-xs-12">
        {{ app.user }} (@{{ app.user }})
        {{ form_start(edit_form) }}
        <div class="col-xs-9 pull-left">
            {{ form_widget(edit_form.message, {'attr': {'class': 'pull-left form-control'}}) }}
        </div>
        {{ form_row(edit_form.submit, {'attr': {'class': 'btn btn-primary pull-right col-xs-2'}}) }}

        {{ form_end(edit_form) }}

    </blockquote>


    <a href="{{ path('twit') }}" class="btn btn-primary">
        {{ 'back.to.list'|trans({}, 'messages') }}
    </a>

</ul>
{% endblock %}
