{% extends '::layout.html.twig' %}

{% block inner_content %}
    <h1>Twit edit</h1>

    <blockquote class="twitter-tweet">
        {{ app.user }} (@{{ app.user }})
        {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

        {{ form_end(edit_form) }}

    </blockquote>


    <a href="{{ path('twit') }}" class="btn btn-primary">
        Back to the list
    </a>

</ul>
{% endblock %}
