{% extends '::layout.html.twig' %}

{% block inner_content %}
    <h1>Twit</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Srcusrid</th>
                <td>{{ entity.srcUsrId }}</td>
            </tr>
            <tr>
                <th>Creationtime</th>
                <td>{{ entity.creationTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ entity.likes }}</td>
            </tr>
            <tr>
                <th>Retwits</th>
                <td>{{ entity.retwits }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('twit') }}" class="btn btn-primary">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('twit_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
